<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- [head tag] 메타태그 -->
    <meta charset="UTF-8" />
    <meta name="keywords" content="명함, 연락처" />
    <meta name="description" content="연락처를 명함형식으로 인쇄하는 시스템" />
    <meta name="author" content="박상희" />

    <!-- [head tag] 메타태그-소셜 -->
    <meta property="og:title" content="sCard" />
    <meta property="og:description" content="연락처를 명함으로 인쇄하자!" />
    <!--<meta property="og:image" content="" />-->

    <meta name="twitter:card" content="연락처를 명함으로 인쇄하자!" />
    <meta name="twitter:title" content="sCard" />
    <meta
      name="twitter:description"
      content="연락처를 명함형식으로 인쇄하는 시스템"
    />

    <!-- [head tag] 메타태그-색인여부지시
     : index허용(<->noindex), follow링크이동허용(<->nofollow) -->
    <meta name="robots" content="index, follow" />

    <!-- [head tag] 메타태그-새로고침 -->
    <!-- <meta http-equiv="refresh" content="0;url=http://m.example.com/" /> -->
    <!--<meta http-equiv="refresh" content="30" />-->

    <!-- [head tag] 메타태그-모바일 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home</title>

    <!-- [head tag] 파비콘태그 -->
    <!--<link rel="icon" type="image/png" href="" />-->

    <!-- [head tag] 링크태그 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <style>
      * {
        font-family: Pretendard Variable;
      }
      .w-fileLabelWidth {
        width: 85px;
      }
      .imFellDwPica {
        font-family: 'IM Fell DW Pica', serif;
      }
      main {
        height: 100vh;

        min-width: 800px;
        min-height: 530px;
      }
      .col-6 {
        min-width: 150px;
        min-height: 150px;
        align-content: center;
      }
      .rotateOrPrint {
        margin-top: -35px;
      }
      .symbol {
        transform: translateX(1px) scaleX(-1) scale(1.5) translateY(2px);
        display: inline-block;
        color: #5b9bd5;
      }
      .list-group-item.active,
      .btn-primary,
      .bg_main {
        background: #5b9bd5 !important;
        border-color: #5b9bd5 !important;
      }
    </style>
  </head>
  <body>
    <main class="d-flex flex-nowrap">
      <div
        class="d-flex flex-column justify-content-center align-items-center flex-grow-1 bg-secondary bg-opacity-10"
        th:each="person, onlyFirst : ${persons}"
        th:if="${onlyFirst.index == 0}"
      >
        <div
          class="idCard row p-3 border rounded shadow align-items-center bg-white position-relative"
        >
          <div class="position-absolute top-0 end-0 rotateOrPrint text-end p-0">
            <button class="btn btn-light btn-sm">
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button class="btn btn-light btn-sm">
              <i class="fa-solid fa-print"></i>
            </button>
          </div>
          <div class="col-6">
            <img
              class="w-100"
              src="https://www.studiopeople.kr/common/img/default_profile.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <p class="fs-5 fw-semibold data_name" th:text="${person.name}">
              null
            </p>
            <p class="fs-6 mb-0 data_cellphoneAndeEmail">
              [[${person.cellphone}]]<br />
              [[${person.email}]]
            </p>
          </div>
        </div>
        <div class="p-3">
          <button
            class="btn btn-primary btn-edit"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            aria-hidden="true"
            data-bs-title="명함 수정하기"
            th:attr="data-bs-id=${person.id}
            , data-bs-name=${person.name}
            , data-bs-cellphone=${person.cellphone}
            , data-bs-email=${person.email}"
          >
            명함 수정하기
          </button>
        </div>
      </div>
      <div
        class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary"
        style="width: 380px"
      >
        <a
          href="/"
          class="d-flex align-items-center justify-content-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom bg-white"
        >
          <span class="fs-4 fw-semibold">
            <span class="imFellDwPica symbol">"</span>&nbsp;&nbsp;sCard
            <span class="fs-6 text-secondary"
              >(total: <span th:text="${selectCountAll}">No result</span>)</span
            >
          </span>
        </a>
        <div
          class="list-group list-group-flush border-bottom h-100 overflow-auto"
        >
          <div
            th:each="person : ${persons}"
            class="list-group-item list-group-item-action py-3 lh-sm person"
            th:classappend="'person_' + ${person.id}"
            th:attr="onclick='viewThisPerson(event, '+${person.id}+')'"
            th:data-name="${person.name}"
            th:data-cellphone="${person.cellphone}"
            th:data-email="${person.email}"
          >
            <div
              class="d-flex w-100 align-items-center justify-content-between"
            >
              <strong
                class="mb-1"
                th:classappend="person_name"
                th:text="${person.name}"
                >000</strong
              >
              <small th:text="${person.id}">null</small>
            </div>
            <div class="col-10 mb-1 small" th:inline="text">
              [[${person.cellphone}]]<br />
              [[${person.email}]]
            </div>
          </div>
        </div>

        <script>
          document
            .querySelector('.list-group')
            .firstElementChild.classList.add('active');

          function viewThisPerson(event, id) {
            document
              .querySelectorAll('.list-group-item.active')
              .forEach((item) => item.classList.remove('active'));
            document.querySelector('.person_' + id).classList.add('active');

            const caller = event.currentTarget;
            const btn_edit = document.querySelector('.btn-edit');

            document.querySelector('.data_name').innerText =
              caller.dataset.name;
            document.querySelector('.data_cellphoneAndeEmail').innerHTML =
              caller.dataset.cellphone + '<br />' + caller.dataset.email;

            btn_edit.setAttribute('data-bs-name', caller.dataset.name);
            btn_edit.setAttribute(
              'data-bs-cellphone',
              caller.dataset.cellphone
            );
            btn_edit.setAttribute('data-bs-email', caller.dataset.email);
          }
        </script>

        <div class="d-grid p-3 bg-white">
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            aria-hidden="true"
            data-bs-title="새 명함 만들기"
          >
            새 명함 만들기
          </button>
        </div>
      </div>

      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">null</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form action="/create" method="post" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="input-group mb-2">
                <span class="input-group-text w-fileLabelWidth">이름</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="이름"
                  aria-label="Username"
                  aria-describedby="data-name"
                  id="data-name"
                   name="name"
                />
              </div>
              <div class="input-group mb-2">
                <span class="input-group-text w-fileLabelWidth">전화번호</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="000-0000-0000"
                  aria-label="Username"
                  aria-describedby="data-cellphone"
                  id="data-cellphone"
                  name="cellphone"
                />
              </div>
              <div class="input-group mb-2">
                <span class="input-group-text w-fileLabelWidth">이메일</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="example@standout.com"
                  aria-label="Username"
                  aria-describedby="data-email"
                  id="data-email"
                  name="email"
                />
              </div>
              <input class="form-control" id="formFileSm" type="file" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                취소
              </button>
              <button type="submit" class="btn btn-primary">완료</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <script>
        const modal = document.querySelector('.modal');
        if (modal) {
          modal.addEventListener('show.bs.modal', (event) => {
            const caller = event.relatedTarget;

            modal.querySelector('.modal-title').textContent =
              caller.dataset.bsTitle;
            modal.querySelector('.modal-body #data-name').value =
              caller.dataset.bsName || '';

            modal.querySelector('.modal-body #data-cellphone').value =
              caller.dataset.bsCellphone || '';

            modal.querySelector('.modal-body #data-email').value =
              caller.dataset.bsEmail || '';
          });
        }
      </script>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/e969114065.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
